// Job paramaters to set for this environment

params.outdir = "output" 

// Process setting

process {

  // Global cluster parameters

  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  withName:Merge {
	time = { 3.h * task.attempt }
  }

  withName:runBwa {
	cpus = { check_max( params.max_cpus * task.attempt, 'cpus' ) }
  	memory = { check_max( 32.GB * task.attempt, 'memory' ) }
  	time = { check_max( 4.h * task.attempt, 'time' ) }
  }

  withName:runFastp {
  	cpus = { check_max( 4 * task.attempt, 'cpus' ) }
  }

  withName:runPathoscopeMap {
  	cpus = { check_max( 8 * task.attempt, 'cpus' ) }
  	memory = { check_max( 32.GB * task.attempt, 'memory' ) }
  	time = { check_max( 3.h * task.attempt, 'time' ) }
  }

  withName:runPathoscopeId {
        time = { check_max( 3.h * task.attempt, 'time' ) }
  }

  withName:runMetaphlan {
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 3.h * task.attempt, 'time' ) }
  }

  withName:runKaiju {
        cpus = { check_max( 16 * task.attempt, 'cpus' ) }
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 1.h * task.attempt, 'time' ) }
  }

   withName:runKaijuReport {
	conda =  'kaiju=1.6.2'
  }

}


